/* Nav Container */
.nav-container {
  /* position: fixed; */
  top: 70px;  /* Đảm bảo Nav không bị chồng lên Header */
  left: 0;
  right: 0;
  background-color: white;
  /* border-bottom: 1px solid #e5e5e5; */
  z-index: 99;
}

/* Row layout */
.nav-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-right: 25px;
  padding-bottom: 5px;
}

/* Logo Section */
.logo-container {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 100px;
  cursor: pointer;
  padding-left: 20px;
}

/* Menu Styling */
.menu-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-menu {
  border: none;
  background-color: transparent;
}

.nav-menu .ant-menu-item {
  padding: 0 24px;
  font-weight: bold;
  color: #4a4a4a;
}

.nav-menu .ant-menu-item:hover,
.nav-menu .ant-menu-item:focus {
  color: #00A7E6;
}

.nav-menu .ant-menu-item-selected {
  color: #00A7E6;
}

/* Donate Button */
.donate-button {
  background-color: #8cc63f;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 6px 16px;
  border: none;
  margin-bottom: 20px;
}

.donate-button:hover {
  background-color: #7bb32e;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .nav-menu .ant-menu-item {
      padding: 0 12px;
  }

  .donate-button {
      padding: 4px 12px;
  }
}
